/* Step-2 You can assign padding to all sides of a container by using the padding shorthand property. */

.content-left {
    padding: 20px 20px 20px 20px;
}

/* Step 2 You can assign padding to all sides of a container by using the padding shorthand property. */

.header {
  padding: 20px 20px 20px 20px;
}


/* Step-2 One option to get the container to fill the parent container is to use width: auto; */

.profile-image-container {
    background: #96F0F2;
    width: 93%;
    height: 180px;
    margin-bottom: 23px;
    margin-left: 15px
}

/* Step-2 One option to get the container to fill the parent container is to use width: auto; */

.profile-links-container {
    background: #12F3F7;
    width: 93%;
    height: 400px;
    margin-left: 15px;
}

/* Step-2 You can either use float left to get this element to in the desired location. */

.logo-container {
    background: #4F4949;
    width: 29.5%;
    height: 100%;
    margin-left: 15px;
    float: left;
}


/* Step-2 You can either use float right to get this element to in the desired location. */

.menu-container {
    background: #4F4949;
    width: 5%;
    height: 100%;
    margin-right: 15px;
    float: right;
}



